## Using lambda function
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [1]:
(lambda a:a+10)(5)

15

In [1]:
x = lambda a : a + 10
x(5)

15

In [2]:
(lambda x, y: x + y)(2, 3)

5

In [2]:
x = lambda a, b : a * b
x(5, 6)

30

In [3]:
print(x)

<function <lambda> at 0x0000021CCDA4F158>

In [5]:
# parameter로 변수 x와 func 필요
high_ord_func = lambda x, func: x + func(x) 
high_ord_func(2, lambda x: x * x)

6

In [6]:
high_ord_func(2, lambda x: x + 3)

7

In [9]:
def square(x):
    return x * x
high_ord_func(2, square)

6

In [10]:
def add3(x):
    return x+3
high_ord_func(2,add3)

7

# Python map, filter, groupby
https://www.python-course.eu/python3_lambda.php
http://book.pythontips.com/en/latest/map_filter.html

r = map(func, seq)

The first argument func is the name of a function and 
the second a sequence (e.g. a list) seq. 

map() applies the function func to all the elements of the sequence seq. 

Before Python3, map() used to return a list, where each element of the result list was the result of the function func 
applied on the corresponding element of the list or tuple "seq". 
With Python 3, map() returns an iterator.

## map example

In [12]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
print(squared)

items = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, items))
print(squared)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [13]:
def square(x):
    return x * x
squared = list(map(square, items))
print(squared)

[1, 4, 9, 16, 25]

In [1]:
 def fahrenheit(T):
...     return ((float(9)/5)*T + 32)
... 
def celsius(T):
...     return (float(5)/9)*(T-32)
... 
temperatures = (36.5, 37, 37.5, 38, 39)
F = map(fahrenheit, temperatures)
C = map(celsius, F)

temperatures_in_Fahrenheit = list(map(fahrenheit, temperatures))
temperatures_in_Celsius = list(map(celsius, temperatures_in_Fahrenheit))

In [2]:
print(F)
print(temperatures_in_Fahrenheit)

<map object at 0x000001F61CE70CF8>
[97.7, 98.60000000000001, 99.5, 100.4, 102.2]

In [3]:
C = [39.2, 36.5, 37.3, 38, 37.8] 
F = list(map(lambda x: (float(9)/5)*x + 32, C))
print(F)

C= list(map(lambda x: (float(5)/9)*(x-32), F))
print(C)

[102.56, 97.7, 99.14, 100.4, 100.03999999999999]
[39.2, 36.5, 37.300000000000004, 38.00000000000001, 37.8]

In [15]:
# Upper case example
chars = ['s', 'k', 'k', 'a', 'v']
def change_upper_case(s):
    return str(s).upper()

map_iterator = map(change_upper_case, chars)
output_list = list(map_iterator)
print(output_list)

['S', 'K', 'K', 'A', 'V']

In [16]:
chars = ['s', 'k', 'k', 'a', 'v']
converted = list(map(lambda s: str(s).upper(), chars))
print(converted)

['S', 'K', 'K', 'A', 'V']

In [17]:
# We can convert the map function iterator to the tuple and set
names = ['krunal', 'ankit', 'rushabh', 'dhaval', 'nehal']
convertedTuple = tuple(map(lambda s: str(s).upper(), names))
print(convertedTuple)

('KRUNAL', 'ANKIT', 'RUSHABH', 'DHAVAL', 'NEHAL')

In [18]:
strings = ['krunal', 'ankit', 'rushabh', 'dhaval', 'nehal']
convertedSet = set(map(lambda s: str(s).upper(), strings))
print(convertedSet)

{'NEHAL', 'ANKIT', 'KRUNAL', 'RUSHABH', 'DHAVAL'}

map() can be applied to more than one list.

If one list has fewer elements than the others, map will stop when the shortest list has been consumed:

In [4]:
a = [1, 2, 3, 4]
b = [17, 12, 11, 10]
c = [-1, -4, 5, 9]
D = list(map(lambda x, y : x+y, a, b))
E = list(map(lambda x, y, z : x+y+z, a, b, c))
F = list(map(lambda x, y, z : 2.5*x + 2*y - z, a, b, c))
print(D)
print(E)
print(F)

[18, 14, 14, 14]
[17, 10, 19, 23]
[37.5, 33.0, 24.5, 21.0]

In [5]:
a = [1, 2, 3]
b = [17, 12, 11, 10]
c = [-1, -4, 5, 9]
list(map(lambda x, y, z : 2.5*x + 2*y - z, a, b, c))

[37.5, 33.0, 24.5]

In [21]:
print(pow(3,5))
print(pow(2,10))
list(map(pow, [3,2], [5,10]))

243
1024

[243, 1024]

In [14]:
# Instead of a list of inputs we can even have a list of functions!
def multiply(x):
    return (x*x)
def add(x):
    return (x+x)

funcs = [multiply, add]
for i in range(5):
    value = list(map(lambda x: x(i), funcs)) # x becomes multiple, add
    print(value)

[0, 0]
[1, 2]
[4, 4]
[9, 6]
[16, 8]

## Iterating Over a Dictionary Using Map and Lambda

In [14]:
dict_a = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]
  
A = map(lambda x : x['name'], dict_a) # Output: ['python', 'java']
  
B = map(lambda x : x['points']*10,  dict_a) # Output: [100, 80]

C = map(lambda x : x['name'] == "python", dict_a) # Output: [True, False]
print(list(A))
print(list(B))
print(list(C))

['python', 'java']
[100, 80]
[True, False]

# Filter 
 filter extracts each element in the sequence for which the function returns True <br>
 Syntax : filter(function, iterable) <br>
 iterable - iterable which is to be filtered, could be sets, lists, tuples, or containers of any iterators

In [25]:
print(range(-5,5))
list(range(-5,5))

range(-5, 5)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [24]:
a = filter(lambda x: x <0, range(-5,5))
print(list(a))

[-5, -4, -3, -2, -1]

In [27]:
# use case for filter(): finding intersection of two lists:
a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]
list(filter(lambda x: x in a, b))

[2, 3, 5, 7]

In [30]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)
list(adults)

[18, 24, 32]

In [33]:
list(filter(lambda x : x >=18, ages))

[18, 24, 32]

In [34]:
# list of alphabets
alphabets = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

filteredVowels = filter(filterVowels, alphabets)

print('The filtered vowels are:')
for vowel in filteredVowels:
    print(vowel)

The filtered vowels are:
a
e
i
o

In [36]:
listOfStr = ['hi', 'this' , 'is', 'a', 'very', 'simple', 'string' , 'for', 'us']

filteredList = list(filter(lambda x : len(x) == 2 , listOfStr))
 
print('Filtered List : ', filteredList)

Filtered List :  ['hi', 'is', 'us']

In [38]:
# join
" ".join(['this','is'])

'this is'

In [43]:
't' not in ['s']

True

In [46]:
's' not in ['s']

False

In [2]:
strObj = 'Hi this is a sample string, a very sample string'
list((filter(lambda x: x not in ['a', 's'], strObj)))

['H',
 'i',
 ' ',
 't',
 'h',
 'i',
 ' ',
 'i',
 ' ',
 ' ',
 'm',
 'p',
 'l',
 'e',
 ' ',
 't',
 'r',
 'i',
 'n',
 'g',
 ',',
 ' ',
 ' ',
 'v',
 'e',
 'r',
 'y',
 ' ',
 'm',
 'p',
 'l',
 'e',
 ' ',
 't',
 'r',
 'i',
 'n',
 'g']

In [37]:
strObj = 'Hi this is a sample string, a very sample string'

filteredChars = ''.join((filter(lambda x: x not in ['a', 's'], strObj)))
 
print('Filtered Characters  : ', filteredChars)

Filtered Characters  :  Hi thi i  mple tring,  very mple tring

In [47]:
array1 = [1,3,4,5,21,33,45,66,77,88,99,5,3,32,55,66,77,22,3,4,5]
array2 = [5,3,66]

filteredArray = list(filter(lambda x : x not in array2, array1))
print('Filtered Array  : ', filteredArray)

Filtered Array  :  [1, 4, 21, 33, 45, 77, 88, 99, 32, 55, 77, 22, 4]

# Reduce <br>
reduce(function, iterable[,initializer]) <br>
- Reduce will apply function to each element in iterable along with the sum so far and create a cumulative sum of the results <br>
- function must take two parameters<br>
- If initializer is provided, initializer will stand as the first argument in the sum

In [29]:
from functools import reduce
reduce( (lambda x, y: x * y), [1, 2, 3, 4] )

24

In [48]:
reduce( (lambda x, y: x * y), [1, 2, 3, 4], 100 )

2400

In [49]:
list = [1,2,3,4,5]
s = reduce(lambda x,y: x+y,  list)
print(s)

15

In [53]:
list = [10,6,7,5,2,1,8,5]
s = reduce(lambda x,y: x if (x > y) else y, list)
print(s)

10

In [52]:
list = [10,6,7,105,2,1,8,5]
s = reduce(lambda x,y: x if (x > y) else y, list)
print(s)

105

In [54]:
list = [10,6,7,105,2,1,8,5]
s = reduce(lambda x,y: x if (x > y) else y, list, 200)
print(s)

200